 {block #content}
<div class="card mb-4">
	<div class="card-header">
		{if $report->hasOption('title')}
			{$report->getOption('title')}
		{/if}
		<small class="text-muted" n:if="$report->hasOption('description')">
			{$report->getOption('description')|breaklines}
		</small>
	</div>
	<div class="card-body">
		{control render}
	</div>
</div>
